version: "3.8"
services:
  postgres-mlflow:
    image: postgres:15
    environment:
      POSTGRES_USER: mlflow
      POSTGRES_PASSWORD: mlflow
      POSTGRES_DB: mlflowdb
    volumes:
      - mlflow_db_data:/var/lib/postgresql/data
    restart: always

  mlflow-server:
    image: ghcr.io/<your-username>/mlflow-server:latest
    depends_on:
      - postgres-mlflow
    environment:
      MLFLOW_BACKEND_STORE_URI: postgresql://mlflow:mlflow@postgres-mlflow:5432/mlflowdb
      MLFLOW_ARTIFACT_ROOT: gs://telco-churn-data-<id>/mlflow_artifacts
      GOOGLE_APPLICATION_CREDENTIALS: /secrets/gcp-key.json
    volumes:
      - /secrets:/secrets:ro
    ports:
      - "5000:5000"
    command: >
      mlflow server
      --backend-store-uri ${MLFLOW_BACKEND_STORE_URI}
      --default-artifact-root ${MLFLOW_ARTIFACT_ROOT}
      --host 0.0.0.0
      --port 5000

volumes:
  mlflow_db_data:
