# docker/docker-compose.yml
version: "3.8"

services:
  postgres-mlflow:
    image: postgres:15
    container_name: postgres-mlflow
    environment:
      POSTGRES_USER: mlflow
      POSTGRES_PASSWORD: mlflow
      POSTGRES_DB: mlflowdb
    volumes:
      - mlflow_db_data:/var/lib/postgresql/data
    restart: always

  mlflow-server:
    image: asia-south1-docker.pkg.dev/mlops-telco-m24de3084/mlops-repo/mlflow-server:latest
    container_name: mlflow-server
    depends_on:
      - postgres-mlflow
    environment:
      MLFLOW_TRACKING_URI: http://mlflow-server:5000
      MLFLOW_BACKEND_STORE_URI: postgresql://mlflow:mlflow@postgres-mlflow:5432/mlflowdb
      MLFLOW_ARTIFACT_ROOT: gs://telco-churn-data-m24de3084/mlflow_artifacts
      GOOGLE_APPLICATION_CREDENTIALS: /secrets/gcp-key.json
    volumes:
      - /secrets:/secrets:ro
    ports:
      - "5000:5000"
    restart: always
    command: 
      mlflow server
      --host 0.0.0.0
      --port 5000
      --backend-store-uri postgresql://mlflow:mlflow@postgres-mlflow:5432/mlflow
      --default-artifact-root gs://telco-churn-data-m24de3084/mlflow-artifacts
      --allowed-hosts ""

  fastapi-app:
    image: asia-south1-docker.pkg.dev/mlops-telco-m24de3084/mlops-repo/fastapi-app:latest
    container_name: fastapi-app
    depends_on:
      - mlflow-server
    environment:
      MLFLOW_TRACKING_URI: http://mlflow-server:5000
      MODEL_NAME: telco_churn_model
      GOOGLE_APPLICATION_CREDENTIALS: /secrets/gcp-key.json
    volumes:
      - /secrets:/secrets:ro
    ports:
      - "8000:8000"
    restart: always

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - fastapi-app
    restart: always

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    restart: always

volumes:
  mlflow_db_data:
